.bc-black{
    background-color: rgb(255, 255, 255);
}
.bc-red{
    background-color: rgb(250, 121, 86 ,1);
}
.bc-verde{
    background-color: rgb(139, 200, 166);
}
.bc-vino{
    background-color: rgb(161, 4, 4);
}

.texto-vino{
    color: rgb(161, 4, 4);
}

.contenedor-imagen-texto {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.padding-xxl{
    padding-top: 50px;
    padding-bottom: 100px;
}
.texto-blanco{
    color: white;
}
.texto-negro{
    color: black;
}

.centrar{
    display: flex;
    justify-content: center;
}
.sacar-puntos{
    list-style: none;
}
.sacar-decoracion{
    text-decoration-line: none;
}

.nav-style li{
    list-style: none;
}

.nav-style {

    color: white; 
    margin: 4px;
    text-decoration: none; 
    }
    .nav-style:hover {
      
      color:darkseagreen;
      
      
    }
    .nav-style:active {
      background-color: orange; 
    }

.syle-cartas{
    background-color: rgb(255, 255, 255);
    width: 18rem;
    margin: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
} 
    .syle-cartas:hover{

        background-color: rgba(192, 192, 192, 0.342);
        transition: all .3s ease-in-out;
        height: 130%S;
        
    }

    .syle-cartas:active{
        transform: scale(110%);
    }   
    
.syle-cartas-adopcion{
    background-color: rgb(255, 255, 255);
    width: 18rem;
    margin: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
} 
    .syle-cartas-adopcion:hover{

        background-color: rgba(250, 121, 86 ,1);
        transition: all .3s ease-in-out;
        height: 130%S;
        
    }

    .syle-cartas-adopcion:active{
        transform: scale(110%);
    }      

.imagen{
    border-radius: 100%;
}

.footer{
    background-color: rgb(250, 121, 86 ,1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.lista-footer a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
}