.bc-black{
    background-color: rgb(255, 255, 255);
}
.bc-red{
    background-color: rgb(250, 121, 86 ,1);
}
.bc-verde{
    background-color: rgb(139, 200, 166);
   
}
.bc-vino{
    background-color: rgb(178, 19, 19);

} 
.texto-vino{
    color: rgb(178, 19, 19);;
}    
.texto-blanco{
    color: white;
}
.texto-negro{
    color: black;
}
.texto-naranjo{
    color: rgb(250, 121, 86 ,1);
}

.padding-xxl{
    padding-top: 50px;
    padding-bottom: 300px;
}

.letras-carrusel{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400%;
    text-transform: uppercase;   
}

.centrar{
    display: flex;
    justify-content: center;
}
.sacar-puntos{
    list-style: none;
}
.sacar-decoracion{
    text-decoration-line: none;
}

.nav-style {
    color: white; 
    margin: 4px;
    text-decoration: none; 
    }
    .nav-style:hover {    
      color:darkseagreen;    
    }
    .nav-style:active {
      background-color: orange; 
    }

.syle-cartas-adopcion{
    background-color: rgb(255, 255, 255);
    width: 18rem;
    margin: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
} 
    .syle-cartas-adopcion:hover{

        background-color:  rgb(250, 121, 86 ,1);
        transition: all .3s ease-in-out;
        height: 130%;      
    }
    .syle-cartas-adopcion:active{
        transform: scale(110%);
    }     

.syle-cartas{
    background-color: rgb(255, 255, 255);
    width: 18rem;
    margin: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
} 
    .syle-cartas:hover{

        background-color: rgba(192, 192, 192, 0.342);
        transition: all .3s ease-in-out;
        height: 130%S;     
    }

    .syle-cartas:active{
        transform: scale(110%);
    }    

.imagen{
    border-radius: 45%;
}

.footer{
    background-color: rgb(250, 121, 86 ,1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.lista-footer a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}